html { height: 100%; }
body {
	  margin: 0;
    height: 100%;
    background: url(img/BG.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
#messages
{
  width:500px;
  height:400px;
  overflow: hidden;
  border:3px solid gold;
}
.active{
    color: black;
    background-color: gold;
} 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-bottom: 3px solid gold;
}
li {
    float: left;
}
li a {
   border-left: 1px solid gold;
   transition: 0.5s all; 
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    color: gold;
    background-color: #111;
}
#hi {
  float: right;
}
ul.submenu {
    display: none;
    position: absolute;
    background-color: #333;
}
ul.submenu > li {
	width: 100%;
    display: block;
}
ul.submenu > li > a {
    border-top: 1px solid gold;
    display: block;
    padding: 10px;
    color: white;
    background-color: #333;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    color: gold;
    background-color: #111;
    text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
ul.submenu > li > a.active {
  color: black;
  background-color: gold;
}
.Smenu {
  margin-top: 80px;
   height: 400px;
   width: 100%;
   color: gold;
   border: 3px solid gold;
   text-align: left;
   overflow-x: none;
   overflow-y: auto;
}
.Smenu p {
    margin: 10px 0px 0px 20px;
}
.inp input {
    background-color: transparent;
    color: gold;
    border-color: gold;
    border-style: solid;
}
.Smenuc {
   margin-top: 80px;
   height: 400px; 
   width: 100%;
   color: gold;
   border: 3px solid gold;
   text-align: left;
   overflow-x: none;
   overflow-y: auto;
}
#textM {
  float: left;
  height: 40px;
  width: 80%;
}
#enterM {
  float: right;
  height: 40px;
  width: 19%;
}
#login {
  color: gold;
}
#username {
  border-radius: 30px 30px 0px 0px;
}
#password {
  border-radius: 0px 0px 30px 30px;
}
.input {
  margin-bottom: -10px;
  background-color: transparent;
  border-style: solid;
  color: gold;
  text-align: center;
  height: 35px;
  border-color: gold;
}
#sumbit {
  width: 120px;
  height: 35px;
  background-color: transparent;
  border-style: solid;
  color: gold;
  border-color: gold;
  border-radius: 0px 0px 30px 30px;
}
#email {
  border-radius: 30px 30px 0px 0px;
}
#password2 {
  border-radius: 0px 0px 30px 30px;
}
.error {
  font-size: 130%;
  margin-top: 100px;
  color: red;
}
#welcome {
  font-size: 150%;
  margin-top: 130px;
  color: gold;
}
a {
  color: yellow;
}