html { height: 100%; }
body {
	  margin: 0;
    height: 100%;
    background: url(img/BG.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.enter {
  margin-top: 100px;
}
.ss1 button {
    margin: 90px 0px 0px 0px;
    background-color: transparent;
    color: #73ce81;
    border-style: solid;
    border-radius: 10px;
    text-align: center;
    border-color: #73ce81;
    width: 100px;
    height: 40px;
}
.Ssign {
  color: #73ce81;
}
.Ssign input {
  text-align: center;
    background-color: transparent;
  color: #73ce81;
  border-color: #73ce81;
  border-style: solid;
  border: 1px solid #73ce81;
  padding: 15px;
  border-radius: 50px 50px 50px 50px;
}
ul {
    list-style-type: none;
    text-align: left;
}
.active{
    color: #73ce81;
    background-color: #2a7d37; 
    border-radius: 5px;
} 
li { 
    margin: 50px 0px 107px 0px;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: #73ce81; 
}
li a{
     color: #73ce81;
     display: block;
     padding: 10px 15px;
}
li a:hover {
     background-color: #73ce81;
     color: #2a7d37;
}
.Smenu {
   width: 100%;
   color: #73ce81;
   border: 3px solid #73ce81;
   border-radius: 10px;
   text-align: left;
   margin: 50px 0px 0px 0px;
   overflow-x: none;
   overflow-y: auto;
}
audio {
   margin: 0px 0px 4px 20px; 
}
.Smenu p {
    margin: 10px 0px 0px 20px;
}
.inp input {
    background-color: transparent;
    color: #73ce81;
    border-color: #73ce81;
    border-style: solid;
}
.Smenuc {
   width: 100%;
   color: #73ce81;
   border: 3px solid #73ce81;
   border-radius: 10px 10px 0px 0px;
   text-align: left;
   overflow-x: none;
   overflow-y: auto;
}
#sumbit {
  background-color: #73ce81;
  border-style: solid;
  color: black;
  border-color: #73ce81;
  border-radius: 50px 50px 50px 50px;
}
@media screen and (max-width: 450px){
  .enter {
  top: 50px;
  }
  .col-xs-2 {
    right: 25px;
    width: 45%;
  }
  .col-xs-6{
    right: 25px;
    width: 55%;
  }
  .Smenu{
    margin-top: 50px;
    height: 440px;
  }
  .Smenuc{
    margin-top: 50px;
    height: 390px;
  }
  ul {
  	width: 100%;
    margin-top: 30px; 
  }
  li a {
    padding: 22px;
    font-size: 130%;
  }
  li {
 	text-align: left; 	
  } 
  #textM { 
    width: 70%;
    height: 39px;
    border-radius: 0px 0px 0px 10px;
  }
  #enterM {
    height: 39px;
    width: 27%;
    border-radius: 0px 0px 10px 0px;
  }

}
@media screen and (min-width: 451px) and (max-width: 1050px){
  .enter {
  top: 20px;
 }
  .Smenuc{
    margin-top: 20px;
    height: 304px;
  }
  .Smenu{
    margin-top: 20px;
    height: 340px;
  }
  .col-xs-2 {
    right: 10px;
    width: 30%;
  }
  .col-xs-6{
    right: 10px;
    width: 70%;
  }
  li {
    margin: 0px 0px 107px 0px;
  }
  ul {
    margin-top: 20px; 
  }
  li a { 
    padding: 3px 0px;
    font-size:150%;
  }
  #textM {
    width: 85%;
    border-radius: 0px 0px 0px 10px;
  }
  #enterM {
    width: 14%;
    border-radius: 0px 0px 10px 0px;
  }
}
@media screen and (min-width: 1050px) and (max-width: 1700px){
  .col-xs-2 {
    margin-left: 200px;
  }
  .Smenu{
    margin-top: 130px;
    height: 412px;
  }
  .Smenuc{
    margin-top: 130px;
    height: 375px;
  }
  ul {
    margin-top: 130px; 
  }
  li a {
    padding: 15px 10px;
    font-size: 150%;
  }
  .inp input {
    margin-top: 1px;
  }
  #textM {
    width: 85%;
    border-radius: 0px 0px 0px 10px;
  }
  #enterM {
    border-radius: 0px 0px 10px 0px;
    width: 14%
  }
}
@media screen and (min-width: 1701px){
  .col-xs-2 {
    margin-left: 300px;
  }
  .Smenu{
    margin-top: 200px;;
    height: 562px;
  }
  .Smenuc{
    margin-top: 200px;
    height: 510px;
  }
  ul {
    margin-top: 200px; 
  }
  li a { 
    padding: 35px 0px;
    font-size: 200%;
  }
  #textM {
    width: 85%;
    border-radius: 0px 0px 0px 10px;
    height: 42px;
  }
  #enterM {
    border-radius: 0px 0px 10px 0px;
    width: 14%;
    height: 42px;
   }
}